div ul{
    list-style-type: none;
}
div ul li{
    background-color:blue;
    width: 70px;
    border: 2px solid black;
    height: 50px;
    line-height: 20px;
    float: left;
}
li{
    color: white;
}
div ul li:hover{
    background-color: yellow;
}
div ul li ul li{
    display: block;
}
